.big_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.content {
    text-align: center;
    width: 50%; 
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: left; 
}


.container input,
.container select,
.container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #005f5f;
}

.container button {
    background-color: #008CBA; 
    color: #fff;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #005f5f; 
}
.title {
    color: orange;
    font-size: 96px; 
    margin-bottom: 20px; 
    font-weight: bolder;
}